@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Arial', 'Microsoft JhengHei';
}
body {
  background: linear-gradient(
    120deg,
    rgb(221, 182, 247) 0%,
    rgb(245, 180, 180) 50%,
    rgb(255, 224, 180) 100%
  );
  background-size: 100vw 100vh;
}
